-# content_for :title, "ФизОлимп. Олимпиады школьников"

.lenta-container
	%h1{:style => 'vertical-align: bottom;'} Новостнаяя лента
.news-block
	%h2 
		%a Предварительные результаты проверки теоретического тура Зонального этапа Московской области
	%p Доступны предварительные результаты теоретического тура регионального этапа Всероссийской олимпиады школьников по физике.
	%p Если вы не согласны со своими результатами, то присылайте заявление на электронный адрес physolymp@gmail.com с указанием класса участия, фамилии, имени участника и номера задачи, которая вызывает у вас несогласие. Приём заявлений осуществляется 14 января. Заявления, полученные позже, не рассматриваются. В этот же день вы получите ответ с комментариями.
	%p Смотреть результаты 9-го класса, 10-го класса, 11-го класса.
	.pull-left
		%img.comment-icon{ :src => '/images/main/comment.png' }
		%span.number 17 
		%a.comments отзывов
	.pull-right
		%span.added Добавил
		%a.name Ерофеев Иван
		%span.time 19 декабря 2011 в 17:30
	.clear
.news-block
	%h2 
		%a Предварительные результаты проверки теоретического тура Зонального этапа Московской области
	%p Доступны предварительные результаты теоретического тура регионального этапа Всероссийской олимпиады школьников по физике.
	%p Если вы не согласны со своими результатами, то присылайте заявление на электронный адрес physolymp@gmail.com с указанием класса участия, фамилии, имени участника и номера задачи, которая вызывает у вас несогласие. Приём заявлений осуществляется 14 января. Заявления, полученные позже, не рассматриваются. В этот же день вы получите ответ с комментариями.
	%p Смотреть результаты 9-го класса, 10-го класса, 11-го класса.
	.pull-left
		%img.comment-icon{ :src => '/images/main/comment.png' }
		%span.number 17 
		%a.comments отзывов
	.pull-right
		%span.added Добавил
		%a.name Ерофеев Иван
		%span.time 19 декабря 2011 в 17:30
	.clear